*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0%;
}

/* #landingBg{
    display: flex;
    height: 100vh;
    width: 100vw;
    background: url("../Images/sunset-pool.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(1 1 12 / 79%);
    background-blend-mode: darken;
} */


/* 
.links{
    position: relative;
    color: white;
}

.links::after{
    content: "";
    position: absolute;
    background-color: white;
    top: 21px;
    left: -2%;
    height: 2px;
    width: 104%;
    border-radius: 1000000px;
    transition: all 0.3s;
    transform: scale(0);
}

.links:hover::after{
    transition: all 0.3s;
    transform: scale(1);
} */

.active{
    position: relative;
    color: #ef4444;
}

.active::after{
    content: "";
    position: absolute;
    background-color: #ef4444;
    top: 25px;
    left: -3%;
    height: 3px;
    width: 106%;
    border-radius: 1000000px;
    transition: all 0.3s;
    transform: scale(1);
}

