* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.card_price {
    display: inline-block;
    position: absolute !important;
    top: 14px;
    right: -1px;
    width: auto;
    height: 38px;

    background-color: #ef4444;
    -webkit-border-radius: 3px 4px 4px 3px;
    -moz-border-radius: 3px 4px 4px 3px;
    border-radius: 3px 4px 4px 3px;

    border-left: 1px solid #ef4444;

    /* This makes room for the triangle */
    margin-left: 19px;

    color: white;
    font-weight: 500;
    font-size: 15px;
    line-height: 38px;

    padding: 0 10px 0 10px;
}

/* Makes the triangle */
.card_price:before {
    content: "";
    position: absolute;
    display: block;
    left: -19px;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-right: 19px solid #ef4444;
}

/* Makes the circle */
.card_price:after {
    content: "";
    background-color: white;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    left: -9px;
    top: 17px;
}

.hideScrollbar::-webkit-scrollbar{
    display: none;
}